.Title{
  font-size: 50px;
  font-weight: bold;
}
.center{
  text-align: center;
}

.button {
  width:100px;
  background-color: #f8585b;
  border: none;
  color:#fff;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 8px;
  cursor: pointer;
}
.button:hover {
  background-color: skyblue
}

.input {
  height: 50px;
  width: 200px;
  border : 2px solid #aaa;
  border-radius: 4px;
  margin : 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition : .3s;
}
.input:focus {
  border-color:  #f8585b;
  box-shadow: 0 0 8px 0  #f8585b;
}

.ul {
  counter-reset: li;
list-style: none;
*list-style: decimal;
font-size: 30px;
font-family: 'Raleway', sans-serif;
padding: 0;
margin-bottom: 4em;
margin: 0 0 0 2em;
position: relative;
display: block;
padding: .4em .4em .4em 2em;
*padding: .4em;
margin: .5em 0;
background: #FC756F;
color: #444;
text-decoration: none;
transition: all .2s ease-in-out;
}
.li{
  width: 200px;
}